<template>
    <hsc-window-style-metal>
        <hsc-window
            :isOpen.sync="isOpen"
            :resizable="true"
            :isScrollable="true"
            :minWidth="150"
            :minHeight="200"
            :maxWidth="250"
            :maxHeight="600"
            title="Library"
        >
            <CharacterList v-bind:characters="characters" />
            <Button v-on:click="removeSelected">Remove Selected</Button>
        </hsc-window>
    </hsc-window-style-metal>
</template>

<script lang="ts">
import CharacterList from './CharacterList.vue';
import { characters } from './data.js';
import { mapGetters, mapState } from 'vuex';

export default {
    components: {
        CharacterList: CharacterList,
    },
    data: function() {
        return {
            characters: characters,
            isOpen: '',
        };
    },
    computed: {
        ...mapGetters('gamestate/', {
            selectedTokenId: 'selectedTokenId',
        }),
        ...mapState('live', {
            director: 'director',
        }),
    },
    methods: {
        removeSelected: function() {
            const selectedCharacterId = this.selectedTokenId;
            console.log(`character/tokenID: ${selectedCharacterId}`);
            this.director.removeCharacter(selectedCharacterId);
        },
    },
};
</script>
